<div class="header-search-form">
    <div class="container">
        <div class="header-search-container">
            @using (Html.BeginForm("Index", "Package", FormMethod.Get))
            {
                <input type="text" name="search" placeholder="Search for destination" />
            }
        </div>
    </div>
</div>

