<footer id="colophon" class="site-footer footer-primary">

    <!-- Top Footer START -->
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <!-- Travel Quotes Section  -->
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget_text">
                        <h3 class="widget-title">Travel Quotes</h3>
                        <div class="textwidget widget-text">
                            “Man cannot discover new oceans unless he has the courage to lose sight of the shore” <br />
                            – Andre Gide.
                        </div>
                        <div class="award-img">
                            <a href="#"><img src="~/Theme/TravelAgency/assets/images/logo6.png" alt=""></a>
                            <a href="#"><img src="~/Theme/TravelAgency/assets/images/logo2.png" alt=""></a>
                        </div>
                    </aside>
                </div>
                <!-- Contact Information Section  -->
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget_text">
                        <h3 class="widget-title">CONTACT INFORMATION</h3>
                        <div class="textwidget widget-text">
                            You can contact us any time using our contact informations.
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-phone-alt"></i>
                                        +30 210-1645854
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                        info@Travele.com
                                    </a>
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    117 41  Koukaki, Athens
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <!-- Subscribe With Us Section  -->
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget_newslatter">
                        <h3 class="widget-title">SUBSCRIBE WITH US</h3>
                        <div class="widget-text">
                            Subscribe with us for the latest updates in destinations and offers.
                        </div>
                        <form class="newslatter-form">
                            <input type="email" name="s" placeholder="Your Email..">
                            <input type="submit" name="s" value="SUBSCRIBE NOW">
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Footer END -->

    <!-- Buttom Footer START -->
    <div class="buttom-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Term & Condition</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="footer-logo">
                        <a href="#"><img src="~/Theme/TravelAgency/assets/images/travele-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="copy-right text-right">Copyright © 202 Travele. All rights reserveds</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Buttom Footer END -->
</footer>