<header id="masthead" class="site-header header-primary">
    <!-- header html start -->

    <!-- Top Nav Bar START -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="header-contact-info">
                        <ul>
                            <li>
                                <a href="#"><i class="fas fa-phone-alt"></i> +30 210-1645854</a>
                            </li>
                            <li>
                                <a href="mailto:info@Travel.com"><i class="fas fa-envelope"></i> info@Travele.com</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> 117 41  Koukaki, Athens
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
                    <div class="header-social social-links">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="header-search-icon">
                        <button class="search-icon">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Nav Bar END -->

    <!-- Bottom Nav Bar START -->
    <div class="bottom-header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="site-identity">
                <h1 class="site-title">
                    <a href="index.html">
                        <img src="~/Theme/TravelAgency/assets/images/travele-logo.png" alt="logo">
                    </a>
                </h1>
            </div>
            <div class="main-navigation d-none d-lg-block">
                <nav id="navigation" class="navigation">
                    <ul>
                        <!-- Home Button  -->
                        <li>
                            <a href="~/Home/Index">Home</a>
                        </li>
                        <!-- Destinations Button  -->
                        <li class="menu-item-has-children">
                            <a href="#">Destinations</a>
                            <ul>
                                <li>
                                    <a href="destination.html">Destination</a>
                                </li>
                                <li>
                                    <a href="tour-packages.html">Tour Packages</a>
                                </li>
                                <li>
                                    <a href="package-offer.html">Package Offer</a>
                                </li>
                                <li>
                                    <a href="package-detail.html">Package Detail</a>
                                </li>
                                <li>
                                    <a href="tour-cart.html">Tour Cart</a>
                                </li>
                                <li>
                                    <a href="booking.html">Package Booking</a>
                                </li>
                                <li>
                                    <a href="confirmation.html">Confirmation</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Wishlist Button  -->
                        <li class="menu-item-has-children">
                            <a href="#">Wishlist</a>
                            <ul>

                                <li>
                                    <a href="service.html">Service</a>
                                </li>
                                <li>
                                    <a href="career.html">Career</a>
                                </li>
                                <li>
                                    <a href="career-detail.html">Career Detail</a>
                                </li>
                                <li>
                                    <a href="tour-guide.html">Tour Guide</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="single-page.html">Single Page</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ Page</a>
                                </li>
                                <li>
                                    <a href="testimonial-page.html">Testimonial Page</a>
                                </li>
                                <li>
                                    <a href="search-page.html">Search Page</a>
                                </li>
                                <li>
                                    <a href="404.html">404 Page</a>
                                </li>
                                <li>
                                    <a href="comming-soon.html">Comming Soon</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="wishlist-page.html">Wishlist</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Shop Button  -->
                        <li class="menu-item-has-children">
                            <a href="single-page.html">Shop</a>
                            <ul>
                                <li>
                                    <a href="product-right.html">Shop Archive</a>
                                </li>
                                <li>
                                    <a href="product-detail.html">Shop Single</a>
                                </li>
                                <li>
                                    <a href="product-cart.html">Shop Cart</a>
                                </li>
                                <li>
                                    <a href="product-checkout.html">Shop Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <!-- About Button  -->
                        <li>
                            <a href="~/Home/About">About</a>
                        </li>


                    </ul>
                </nav>
            </div>
            <div class="header-btn">
                <a href="#" class="button-primary">BOOK NOW</a>
            </div>
        </div>
    </div>
    <!-- Bottom Nav Bar END -->

    <div class="mobile-menu-container"></div>
    <!-- header html END -->
</header>
