@model Entities.IdentityUsers.ApplicationUser
@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddUser", "AdminDashboard", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="db-info-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="dashboard-box">
                    <h4>Add New User</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="UserName">User Name</label>
                                <input autocomplete="off" class="text-box single-line" data-val="true" data-val-required="The User Name field is required." id="UserName" name="UserName" type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input autocomplete="off" class="text-box single-line" data-val="true" data-val-required="The firstname is required." id="FirstName" name="FirstName" type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input autocomplete="off" class="text-box single-line" data-val="true" data-val-required="The last name is required." id="LastName" name="LastName" type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Birthday">Birthday</label>
                                <input autocomplete="off" class="text-box single-line" data-val="true" data-val-required="The Birthday field is required." id="Birthday" name="Birthday" type="date" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input autocomplete="off" class="text-box single-line" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="email" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input placeholder="Use the format: +30 6981234567" autocomplete="off" name="phone" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input autocomplete="off" class="text-box single-line password" data-val="true" data-val-length="The Password must be at least 1 characters long." data-val-length-max="100" data-val-length-min="1" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm password</label>
                                <input autocomplete="off" class="text-box single-line password" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Country">Country</label>
                                <input autocomplete="off" class="text-box single-line" id="Country" name="Country" type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="City">City</label>
                                <input autocomplete="off" class="text-box single-line" id="City" name="City" type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <input autocomplete="off" class="text-box single-line" id="Address" name="Address" type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ZipCode">Zip-Code</label>
                                <input autocomplete="off" class="text-box single-line" id="ZipCode" name="ZipCode" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

