@model Entities.IdentityUsers.ApplicationUser

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="db-info-wrap">
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-box user-form-wrap">
                <div class="col-sm-12">
                    <h3 class="displat-block">You are about to permanently delete "<strong class="displat-block" style="color:red;">@Model.UserName</strong>" from your Data base !!!</h3>
                </div>
                <div class="col-sm-4">
                    @using (Html.BeginForm("DeleteUser", "AdminDashboard", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-sm-6">
                            <input type="hidden" name="username" value="@Model.UserName" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            @Html.ActionLink("Back to List", "AllUsers")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


DeleteUser?username=@Model.UserName
