@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}


<div class="db-info-wrap">
    <!-- Top Row With Statistics START-->
    <div class="row">
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-blue">
                    <i class="far fa-chart-bar"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Today Views</h4>
                    <h5>22,520</h5>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-green">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Earnings</h4>
                    <h5>16,520</h5>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-purple">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Users</h4>
                    <h5>18,520</h5>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
            <div class="db-info-list">
                <div class="dashboard-stat-icon bg-red">
                    <i class="far fa-envelope-open"></i>
                </div>
                <div class="dashboard-stat-content">
                    <h4>Enquiry</h4>
                    <h5>19,520</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Row With Statistics END-->
    <!-- Recent Booking & Package Enquiry START-->
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-box table-opp-color-box">
                <h4>Recent Booking</h4>
                <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>User</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>City</th>
                                <th>Enquiry</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="custom-input">
                                        <input type="checkbox" checked="checked">
                                        <span class="custom-input-field"></span>
                                    </label>
                                </td>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment.jpg" alt=""></span>
                                </td>
                                <td>
                                    <span class="list-enq-name">John Doe</span>
                                </td>
                                <td>12 may</td>
                                <td>Japan</td>
                                <td>
                                    <span class="badge badge-success">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-input">
                                        <input type="checkbox" checked="checked">
                                        <span class="custom-input-field"></span>
                                    </label>
                                </td>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment2.jpg" alt=""></span>
                                </td>
                                <td>
                                    <span class="list-enq-name">John Doe</span>
                                </td>
                                <td>12 may</td>
                                <td>Japan</td>
                                <td>
                                    <span class="badge badge-success">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-input">
                                        <input type="checkbox" checked="checked">
                                        <span class="custom-input-field"></span>
                                    </label>
                                </td>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment3.jpg" alt=""></span>
                                </td>
                                <td>
                                    <span class="list-enq-name">John Doe</span>
                                </td>
                                <td>12 may</td>
                                <td>Japan</td>
                                <td>
                                    <span class="badge badge-success">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-input">
                                        <input type="checkbox" checked="checked">
                                        <span class="custom-input-field"></span>
                                    </label>
                                </td>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment4.jpg" alt=""></span>
                                </td>
                                <td>
                                    <span class="list-enq-name">John Doe</span>
                                </td>
                                <td>12 may</td>
                                <td>Japan</td>
                                <td>
                                    <span class="badge badge-success">15</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-input">
                                        <input type="checkbox" checked="checked">
                                        <span class="custom-input-field"></span>
                                    </label>
                                </td>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment5.jpg" alt=""></span>
                                </td>
                                <td>
                                    <span class="list-enq-name">John Doe</span>
                                </td>
                                <td>12 may</td>
                                <td>Japan</td>
                                <td>
                                    <span class="badge badge-success">15</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent Booking & Package Enquiry  END-->
    <!-- User Details START-->
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-box">
                <h4>User Details</h4>
                <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>Listings</th>
                                <th>Enquiry</th>
                                <th>Bookings</th>
                                <th>Reviews</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment.jpg" alt=""></span>
                                </td>
                                <td>
                                    <a href="#"><span class="list-name">Kathy Brown</span><span class="list-enq-city">United States</span></a>
                                </td>
                                <td>+01 3214 6522</td>
                                <td>chadengle@dummy.com</td>
                                <td>Australia</td>
                                <td>
                                    <span class="badge badge-primary">02</span>
                                </td>
                                <td>
                                    <span class="badge badge-danger">12</span>
                                </td>
                                <td>
                                    <span class="badge badge-success">24</span>
                                </td>
                                <td>
                                    <span class="badge badge-dark">36</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment2.jpg" alt=""></span>
                                </td>
                                <td>
                                    <a href="#"><span class="list-name">Kathy Brown</span><span class="list-enq-city">United States</span></a>
                                </td>
                                <td>+01 3214 6522</td>
                                <td>chadengle@dummy.com</td>
                                <td>Australia</td>
                                <td>
                                    <span class="badge badge-primary">02</span>
                                </td>
                                <td>
                                    <span class="badge badge-danger">12</span>
                                </td>
                                <td>
                                    <span class="badge badge-success">24</span>
                                </td>
                                <td>
                                    <span class="badge badge-dark">36</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment3.jpg" alt=""></span>
                                </td>
                                <td>
                                    <a href="#"><span class="list-name">Kathy Brown</span><span class="list-enq-city">United States</span></a>
                                </td>
                                <td>+01 3214 6522</td>
                                <td>chadengle@dummy.com</td>
                                <td>Australia</td>
                                <td>
                                    <span class="badge badge-primary">02</span>
                                </td>
                                <td>
                                    <span class="badge badge-danger">12</span>
                                </td>
                                <td>
                                    <span class="badge badge-success">24</span>
                                </td>
                                <td>
                                    <span class="badge badge-dark">36</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="list-img"><img src="~/Theme/TravelAgency/admin/assets/images/comment4.jpg" alt=""></span>
                                </td>
                                <td>
                                    <a href="#"><span class="list-name">Kathy Brown</span><span class="list-enq-city">United States</span></a>
                                </td>
                                <td>+01 3214 6522</td>
                                <td>chadengle@dummy.com</td>
                                <td>Australia</td>
                                <td>
                                    <span class="badge badge-primary">02</span>
                                </td>
                                <td>
                                    <span class="badge badge-danger">12</span>
                                </td>
                                <td>
                                    <span class="badge badge-success">24</span>
                                </td>
                                <td>
                                    <span class="badge badge-dark">36</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- User Details END-->
    <!--  Reports START-->
    <div class="row">
        <!-- Reports START-->
        <div class="col-lg-12">
            <div class="dashboard-box report-list">
                <h4>Reports</h4>
                <div class="report-list-content">
                    <div class="date">
                        <h5>Auguest 12</h5>
                    </div>
                    <div class="total-amt">
                        <strong>$1250000</strong>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2356</td>
                                <td>dummy text </td>
                                <td>6,200.00</td>
                            </tr>
                            <tr>
                                <td>4589</td>
                                <td>Lorem Ipsum</td>
                                <td>6,500.00</td>
                            </tr>

                            <tr>
                                <td>3269</td>
                                <td>specimen book</td>
                                <td>6,800.00</td>
                            </tr>
                            <tr>
                                <td>5126</td>
                                <td>Letraset sheets</td>
                                <td>7,200.00</td>
                            </tr>
                            <tr>
                                <td>7425</td>
                                <td>PageMaker</td>
                                <td>5,900.00</td>
                            </tr>
                            <tr>
                                <td>7425</td>
                                <td>PageMaker</td>
                                <td>5,900.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Reports END-->
    </div>
    <!--  Reports END-->
    <!--Bottom Charts & Statistics START-->
    <div class="row">

     



        <!-- Bar Chart -->
        <div class="col-lg-4">

            <div class="dashboard-box chart-box">
               <canvas id="linechart" width="400" height="400"></canvas>
            </div>

        </div>
        <div class="col-lg-4">

            <div style="background-color:ghostwhite">
                <canvas id="barchart" width="400" height="400"></canvas>
            </div>

        </div>



      



        <!--Bottom Charts & Statistics END-->
    </div>
</div>


<script src="~/Theme/TravelAgency/admin/assets/js/canvasjs.min.js"></script>
<script src="~/Theme/TravelAgency/admin/assets/js/chart.js"></script>
<script src="~/Scripts/Chart.js"></script>
@section scripts{

    <script>

        var Income =@Html.Raw(Json.Encode(ViewBag.Income));
            var Titles =@Html.Raw(Json.Encode(ViewBag.Titles));
        const CHART = document.getElementById("linechart");
        console.log(CHART);
        let linechart = new Chart(CHART, {
            type: 'line',
            data: {
                labels: Titles,
                datasets: [
                    {
                        label: "Income",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borederDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: Income,
                    }



                ]
            },
             options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            // OR //
                            beginAtZero: true   // minimum value will be 0.
                        }
                    }]
                }
            },


        })



            var Times =@Html.Raw(Json.Encode(ViewBag.Times));
            var Titles =@Html.Raw(Json.Encode(ViewBag.Titles));
           var info = document.getElementById('barchart').getContext('2d');
            var BarChart = new Chart(info, {

                type: 'bar',
                data: {
                    labels: Titles,
                    datasets: [{
                        label: "Favourite Package",
                        data:  Times,
                        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'],
                        borderColor: ['rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'],
                        borderWidth:1
                    }]
                },
               options : {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                                // OR //
                                beginAtZero: true   // minimum value will be 0.
                            }
                        }]
                    }
                },







            });




    </script>

}








