
<div class="container">
    <fieldset>
        <legend>Welcome To Travele Chat Club</legend>
    </fieldset>
    <div class="form-group col-xl-12">
        <label style="color: black; font-style: normal;font-size: medium" id="label1">Write Your Message Here!</label><br />
        <textarea class="form-control" rows="4" cols="40" id="message" placeholder="Share what's in your mind..."></textarea>
    </div>
    <input style="position:relative; margin-left:14px" type="button" class="btn btn-primary" id="sendmessage" value="Send" />
    <div class="form-group col-xl-12">
        <br />
        <br />
        <label style="color: blue;font-style:oblique;font-size:medium" id="label2"> Chat Conversations History</label>
        <div class="container chatArea">
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>
    </div>
</div>

