<div class="dashboard-navigation">
    <!-- Responsive Navigation Trigger -->
    <div id="dashboard-Navigation" class="slick-nav"></div>
    <div id="navigation" class="navigation-container">
        <ul>
            <!-- Dashboard  -->
            <li class="active-menu"><a href="dashboard.html"><i class="far fa-chart-bar"></i> Dashboard</a></li>
            <!-- Users  -->
            <li>
                <a><i class="fas fa-user"></i>Users</a>
                <ul>
                    <li>
                        <a href="user.html">User</a>
                    </li>
                    <li>
                        <a href="user-edit.html">User edit</a>
                    </li>
                    <li>
                        <a href="new-user.html">New user</a>
                    </li>
                </ul>
            </li>
            <!-- Add Package  -->
            <li><a href="/AdminPackage/Create"><i class="fas fa-umbrella-beach"></i>Add Package</a></li>
            <!-- Packages  -->
            <li>
                <a><i class="fas fa-hotel"></i>Packages</a>
                <ul>
                    <li><a href="/AdminPackage/Index">All Packages</a></li>
                    <li><a href="/AdminPackage/Index?status=active">Active</a></li>
                    <li><a href="/AdminPackage/Index?status=pending">Pending</a></li>
                    <li><a href="/AdminPackage/Index?status=expired">Expired</a></li>
                </ul>
            </li>
            <!-- Bookings  -->
            <li><a href="db-booking.html"><i class="fas fa-ticket-alt"></i> Bookings</a></li>
            <!-- Comments  -->
            <li><a href="db-comment.html"><i class="fas fa-comments"></i>Comments</a></li>
            <!-- Logout  -->
            <li><a href="login.html"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
</div>
