@using Microsoft.AspNet.Identity

<div class="dashboard-header sticky-header">

    <!-- Top Left Logo START -->
    <div class="content-left  logo-section pull-left">
        <h1><a href="~/AdminDashboard/Index"><img src="~/Theme/TravelAgency/admin/assets/images/logo.png" alt=""></a></h1>
    </div>
    <!-- Top Left Logo END -->


    <div class="heaer-content-right pull-right">


        <!-- Account START -->
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <div class="dropdown-item profile-sec">
                    <img src="~/Content/UsersImages/no-user.jpg" alt="">
                    <i class="fas fa-caret-down"></i>
                </div>
            </a>
            <div class="dropdown-menu account-menu">
                <ul>
                    <li>

                        @using (Html.BeginForm("UserDetails", "Manage", FormMethod.Get, new { username = User.Identity.GetUserName(), @class = "navbar-right", style = "color:black;" }))
                        {
                            @Html.AntiForgeryToken()
                            <a style="color:black;" href="#" ><i class="fas fa-user-tie"></i>Profile</a>

                        }

                    </li>
                    <li><a href="~/Views/Manage/ChangePassword.cshtml"><i class="fas fa-key"></i>Password</a></li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style = "color:black;" }))
                        {
                            @Html.AntiForgeryToken()


                            <a style="color:black;" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        }


                    </li>

                </ul>
            </div>
        </div>
        <!-- Account END -->
    </div>
</div>
