@model Entities.Models.Package

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="db-info-wrap db-package-wrap">
    <div class="dashboard-box table-opp-color-box">
        <h4>Packages List</h4>
        <p>Nonummy hac atque adipisicing donec placeat pariatur quia ornare nisl.</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Destination</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                  
                </tbody>
            </table>
        </div>
    </div>
    <!-- pagination html -->
    <div class="pagination-wrap">
        <nav class="pagination-inner">
            <ul class="pagination disabled">
                <li class="page-item"><span class="page-link"><i class="fas fa-chevron-left"></i></span></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>