@model IEnumerable<Entities.Models.Package>

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}



<div class="db-info-wrap db-package-wrap">
    <div class="dashboard-box table-opp-color-box">
        <h4>Packages List</h4>
       
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Trip Date</th>
                        <th>Destination</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var package in Model)
                    {
                        <tr>
                            <td>
                                <span class="package-name">@package.Title</span>
                            </td>
                            <td>@package.TripDate.ToString("dd/MM/yyyy")</td>
                            <td>@package.Destinations</td>
                            <td>
                                @if (package.PackageStatus == Entities.Enums.Status.Active)
                                {
                                    <span class="badge badge-success">Active</span>
                                }
                                @if (package.PackageStatus == Entities.Enums.Status.Pending)
                                {
                                    <span class="badge badge-primary">Pending</span>
                                }
                                @if (package.PackageStatus == Entities.Enums.Status.Expired)
                                {
                                    <span class="badge badge-danger">Expired</span>
                                }
                            </td>
                            <td>
                                <a href="#"><span class="badge badge-success"><i class="far fa-edit"></i></span></a>
                                <a href="/AdminPackage/Delete/@package.PackageId"><span class="badge badge-danger"><i class="far fa-trash-alt"></i></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- pagination html -->
    <div class="pagination-wrap">
        <nav class="pagination-inner">
            <ul class="pagination disabled">
                <li class="page-item"><span class="page-link"><i class="fas fa-chevron-left"></i></span></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>