<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="~/Theme/TravelAgency/assets/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Theme/TravelAgency/assets/vendors/bootstrap/css/bootstrap.min.css" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/vendors/fontawesome/css/all.min.css">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/vendors/jquery-ui/jquery-ui.min.css">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/vendors/modal-video/modal-video.min.css">
    <!-- light box css -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/vendors/lightbox/dist/css/lightbox.min.css">
    <link href="~/Theme/TravelAgency/assets/vendors/lightbox/dist/css/lightbox.min.css" rel="stylesheet" />
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/vendors/slick/slick-theme.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/style.css">
    <link href="~/Theme/TravelAgency/assets/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Theme/TravelAgency/assets/css/Package.css">

</head>

<body class="home">

    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="~/Theme/TravelAgency/assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="full-page">
        <!-- Header Start -->
        @Html.Partial("~/Views/Shared/Client/Components/_TopNavigationBar.cshtml")
        <!-- Header End -->

        @RenderBody()

        <!-- Footer Start -->
        @Html.Partial("~/Views/Shared/Client/Components/_Footer.cshtml")
        <!-- Footer End -->

        <div style="position: fixed; bottom: 75px; right: 18px;">
            <a id="chat"  href="/Home/Chat" class="chat-icon">
                <i class="fas fa-comments" style='font-size:36px'></i>
            </a>
        </div>

        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <!-- JavaScript -->
    <script src="~/Theme/TravelAgency/assets/js/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/countdown-date-loop-counter/loopcounter.js"></script>
    <script src="~/Theme/TravelAgency/assets/js/jquery.counterup.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/modal-video/jquery-modal-video.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/masonry/masonry.pkgd.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/lightbox/dist/js/lightbox.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/vendors/slick/slick.min.js"></script>
    <script src="~/Theme/TravelAgency/assets/js/jquery.slicknav.js"></script>
    <script src="~/Theme/TravelAgency/assets/js/custom.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>